# Data Science Tools and Ecosystem

In this note, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages for Data Science.
- List common libraries used by Data Scientists
- Create a table in markdown
- Do arithmetic in jupyter notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciKit-Learn
4. PyTorch
5. TensorFlow

|Data Science Tools | 
| ------ |
| Anaconda |
| Jupyter Notebooks |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Anirudh